.breath {
  font-family: 'Comfortaa', sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  width: 350px;
  margin: 20px auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.header {
  color: #333;
  font-size: 24px;
  margin-bottom: 15px;
}

.time-selector {
  margin-bottom: 25px;
}

.time-buttons {
  margin-top: 2px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.time-btn {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.time-btn.selected {
  border: 2px solid #0056b3;
}

.color-picker {
  margin-bottom: 20px;
}

.circle {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 6px solid #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.timer {
  margin-top: 20px;
}

.total-time-left {
  margin-top: 10px;
  font-size: 16px;
  color: #666;
}

.controls {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.start-btn, .stop-btn, .restart-btn {
  padding: 10px 30px;
  font-size: 18px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 10px; /* Add margin between the buttons */
}

.restart-btn span {
  font-size: 22px;
  margin-right: 5px;
}

.restart-btn:hover, .start-btn:hover, .stop-btn:hover {
  background-color: #0056b3;
}

.session-summary {
  margin-top: 20px;
  font-size: 18px;
}
