@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root {
	--text: #333333;
	/*background color*/
	--PalePeach: #FFD1C1;
	/*icons, buttons, or headers*/
	--PastelPink: #FFCEDA;
	/*Highlight*/
	--SoftLemonYellow: #FFF5B7;
	/*secondary background or cards*/
	--SkyBlue: #C7E5FF;
	/*buttons*/
	--PastelMint:#C6F6D5;
	/*white*/
	--white: white;
	/*light brown*/
	--lightbrown: #D2B48C;
	/*coffebrown*/
	--coffeebrown: #4B3621;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--SoftLemonYellow);
	color: var(--text);
	overflow-x: hidden;
	cursor: url('/cursor.png'), auto;
}
a {
	text-decoration: none;
	color: inherit;
}
