<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root {
	--text: #333333;
	/*background color*/
	--PalePeach: #FFD1C1;
	/*icons, buttons, or headers*/
	--PastelPink: #FFCEDA;
	/*Highlight*/
	--SoftLemonYellow: #FFF5B7;
	/*secondary background or cards*/
	--SkyBlue: #C7E5FF;
	/*buttons*/
	--PastelMint:#C6F6D5;
	/*white*/
	--white: white;
	/*light brown*/
	--lightbrown: #D2B48C;
	/*coffebrown*/
	--coffeebrown: #4B3621;
}

=======
:root {
	--bg: #0d0c22;
	--text: rgb(0, 0, 0);
	--white: rgb(255, 255, 255);
	--lightBlue: #92b5d8;
	--softGreen: #93e9be;
	--softOrange: #f5b6a4;
	--btn: #18a0e9;
}
>>>>>>> f7b58342267fe2b69c4f1f2f1a804a351c5cc7b7
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
<<<<<<< HEAD
	background-color: var(--SoftLemonYellow);
	color: var(--text);
	overflow-x: hidden;
	cursor: url('/cursor.png'), auto;
=======
	background-color: var(--softGreen);
	color: var(--text);
	overflow-x: hidden;
>>>>>>> f7b58342267fe2b69c4f1f2f1a804a351c5cc7b7
}
a {
	text-decoration: none;
	color: inherit;
}
