:root {
	--bg: #0d0c22;
	--text: rgb(0, 0, 0);
	--white: rgb(255, 255, 255);
	--lightBlue: #92b5d8;
	--softGreen: #93e9be;
	--softOrange: #f5b6a4;
	--btn: #18a0e9;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--lightBlue);
	color: var(--text);
	overflow-x: hidden;
}
a {
	text-decoration: none;
	color: inherit;
}

.container {
	background-color: var(--lightBlue);
	width: 1536px;
	margin: auto;
	padding: 0 50px 0 50px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media (max-width: 1536px) {
	.container {
		width: 1366px;
	}
}

@media (max-width: 1366px) {
	.container {
		width: 1280px;
	}
}

@media (max-width: 1280px) {
	.container {
		width: 1024px;
		padding: 0 20px 0 20px;
	}
}

@media (max-width: 1024px) {
	.container {
		width: 768px;
	}
}

@media (max-width: 768px) {
	.container {
		width: 640px;
	}
}

@media (max-width: 640px) {
	.container {
		width: 476px;
	}
}

@media (max-width: 480px) {
	.container {
		width: 406px;
	}
}

@media (max-width: 370px) {
	.container {
		width: 356px;
	}
}
