.container {
  display: flex;
  gap: 60px;
  align-items: center; 
  padding: 20px; 
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 5px;
}

.title {
  font-size: 70px;
  line-height: 1.2; /* Improve line-height for better readability */
}

.desc {
  font-size: 20px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.button {
  padding: 10px;
  min-width: 120px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.button:first-child {
  background-color: var(--btn);
  color: var(--text);
}

.brands {
  width: 500px;
  height: 50px;
  position: relative;
  filter: grayscale(1);
}

.imgContainer {
  flex: 1;
  position: relative;
  height: 400px; 
  overflow: hidden;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.heroImg {
  object-fit: cover;
  width: 100%; 
  height: auto; 
  max-height: 100%; 
  transform: scale(1.1);
}

/* Tablet View */
@media (max-width: 624px) {
  .container {
    flex-direction: column;
    text-align: center;
    padding: 20px; 
  }

  .title {
    font-size: 64px;
  }

  .imgContainer {
    margin: 20px 0; 
  }

  .heroImg {
    width: 80%; 
    transform: scale(1); 
  }
}

/* Mobile View */
@media (max-width: 868px) {
  .title {
    font-size: 56px;
  }

  .imgContainer {
    height: 300px; 
    margin: 20px 0; 
  }

  .heroImg {
    width: 100%; 
    transform: scale(1); 
  }

  .buttons {
    flex-direction: column; 
    gap: 10px;
  }
}
