body {
    background-color: #93E9BE; 
    display: flex;
    justify-content: center;
}


.past-entries-header {
    padding: 10px 20px;
    margin-bottom: 10px;
}

button,
a.button {    
    background-color: #7d4c7d; 
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;

}

.past-entries-container {
    width: 1100px;
    background-color: #92B5D8; 
    border-radius: 10px;
    padding: 20px;
    height: 90vh;

}

.display-container {
    background-color: white;
    border-radius: 20px;
    margin: 40px 0 40px 60px; 
    padding: 15px; 

}
