.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    padding: 0 20px;
    position: relative;
    box-sizing: border-box;
}

.logo{
    font-size: 1.5em;
    font-weight: bold;
    color: var(--text); 
    font-family: 'Rubik Bubbles', sans-serif;
}
.links{
    display: flex;
    gap: 24px;
    align-items: center;
}
/* Link button styling */
.link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    color: var(--text);
    text-decoration: none;
    padding: 4px 8px;
    border: 2px solid var(--text);
    border-radius: 12px;
    background-color: var(--SoftLemonYellow); 
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    font-family: 'Comfortaa', sans-serif;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Hover effect for button links */
.link:hover {
    margin-top: 3px; 
    background-color: var(--white); 
    color: var(--text); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); 
}

.link:active {
    transform: scale(0.98); 
    background-color: var(--white); 
    box-shadow: 0 8px 15px rgba(255, 255, 255, 0.7);
    padding-top: 10px; 
    padding-bottom: 6px;
}

/*when link is active*/
.active {
    background-color: var(--white); 
    color: var(--text); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid var(--text); 
}


.logout {
    padding: 8px;
    cursor: pointer;
    font-weight: bold;
}

.menuIcon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.mobileLinks {
    display: none;
}

/* Profile Dropdown */
.profileContainer {
    position: relative;
    display: inline-block;
}

.menuTrigger {
    cursor: pointer;
}

.menuTrigger img {
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.dropdownMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    z-index: 1000;
    text-align: center;
}

.dropdownMenu h3 {
    margin: 0;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #eee;
}

.dropdownMenu h3 span {
    font-size: 12px;
    font-weight: 400;
    color: #999;
}

.dropdownMenu ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;
}

.dropdownItem {
    display: flex;
    align-items: center;
    padding: 10px 5px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.dropdownItem:hover {
    background-color: #f0f0f0;
    border-radius: 4px;
}

.dropdownItem a {
    text-decoration: none;
    color: #333;
    margin-left: 10px;
}

.dropdownItem svg {
    color: #555;
}

/* Media Queries for mobile view */
@media (max-width: 768px) {
    .links {
        display: none;
    }

    .menuIcon {
        display: flex;
        justify-content: space-around;
        cursor: pointer;
    }

    .mobileLinks {
        position: absolute;
        top: 100px;
        right: 0;
        width: 50%;
        height: calc(100vh - 100px);
        background-color: var(--lightBlue);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border-left: 2px solid black;
        overflow: hidden;
        transition: height 0.8s ease-in-out;
    }
}

.logo {
    font-size: 30px;
    font-weight: bold;
}
